body{
    background-image: radial-gradient(circle at 50% -20.71%, #cbe7e1 0, #cae7e3 6.25%, #c9e7e6 12.5%, #c9e7e8 18.75%, #c9e7eb 25%, #c9e7ed 31.25%, #cae6ef 37.5%, #cbe6f1 43.75%, #cde5f2 50%, #cfe4f3 56.25%, #d1e4f4 62.5%, #d4e3f5 68.75%, #d7e2f5 75%, #dae1f5 81.25%, #dde0f4 87.5%, #e0e0f4 93.75%, #e3dff2 100%);
    animation: cambiar 10s ease-in-out infinite;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    border: solid 3px #fff;
    border-radius: 25px;
    padding: 2rem 3rem;
}
h2{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;   
}

.container{
    text-align: center;
}

#Decrementar{
    background-image: radial-gradient(circle at 50% -20.71%, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Incrementar{
    background-image: radial-gradient(circle at 50% -20.71%, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Resetear{
    background-image: radial-gradient(circle at 50% -20.71%, #d6d4f1 0, #dad3ef 6.25%, #dfd2ed 12.5%, #e3d0ea 18.75%, #e7cfe8 25%, #eacfe4 31.25%, #edcee1 37.5%, #f0cdde 43.75%, #f2cdda 50%, #f4cdd6 56.25%, #f5cdd3 62.5%, #f5cdcf 68.75%, #f5cdcb 75%, #f5cec8 81.25%, #f4cec5 87.5%, #f3cfc2 93.75%, #f1d0c0 100%);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Gif{
    text-align: center;
}